@import '../variables.scss';

.main-coat{
    display: grid;
    grid-template-columns: 0.95fr 4fr 1.05fr;   
    min-height: 100vh;

    aside.side-bar{
        grid-column: 1 /span 1;
        background-color: $btn-color;
    }
    main{
        grid-column: 2 / span 1;
        background: $app-gradient;
    }
    aside.notifications{
        background: $btn-color;

    }
}


@media screen and (max-width:1400px){
    .main-coat{
        aside.side-bar{
            display: none;
        }
        main{
            grid-column: 1 / span 2;
        }
    }
}

@media screen and (max-width:1200px) {
    .main-coat{
        grid-template-columns: repeat(1, 1fr);
        background: $app-gradient;
        aside.notifications{
            display: none;
        }
    }
}