@import '../../variables.scss';

.sub-coat{
    font-family: $Roboto-font;
    padding: 1rem 2rem;
    
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0;
        padding: 0 2.5rem;

        .mobile-btn,
        .notifications-btn{
            display: none;
        }

        .main-text{
            font-size: 24px;
            font-weight: 500;
            color: $sub-headers;

        }
    }
    section{
        .main-text{
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 2rem;
            padding-bottom: 3px; 
            color: $sub-headers;
            border-bottom: 2px solid $btn-color;
        }
        .t-content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-bottom: 2rem;
        }

        .link{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;

            .nav-icon{
                background-color: $btn-color;
                // font-size: ;
                padding: .75rem 5rem;
                border-radius: $btn-radius;
                text-decoration: 
                none;
                color: $color-white;
                display: flex;
                align-items: center;
                font-weight: 400;
                .arrow{
                    font-size: 22px;
                }
                
                cursor: pointer;
                transition: 0.3s ease;
            
            
                &:hover,&:focus{
                    background-color: $color-white;
                    box-shadow: inset 0px 0px 0px 1px $btn-color;
                    color: $btn-color;
                }
            }
        }
    }
    .bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        gap: 2rem;
        
        section{
            &:first-of-type{
                .main-text{
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 2rem;
                    padding-bottom: 3px; 
                    color: $sub-headers;
                    border-bottom: 2px solid $btn-color;
                }     
                .b-content{
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);                    
                    display: flex;
                    justify-content: space-between;
                    gap: 1.5rem;
                    padding: 0 0.5rem;
                    
                    .btns{
                        position: relative;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: rgb(131, 129, 129);
                        background-blend-mode: multiply;
                        height: 140px;
                        width: 100%;
                        text-align: center;
                        text-decoration: none;
                        color: $color-white;
                        align-content: center;
                        border-radius: $btn-radius;
                        

                        &::after{
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 12px;
                            font-size: 1.5rem;
                            font-weight: 500;
                            letter-spacing: 1px;
                            transition: 0.3s;
                        }
                        
                        &:hover::after{
                            bottom: 50px;
                        }


                        &:first-of-type{
                            background-image: url('../images/requests.jpg');
                            &::after{
                                content: "Requests";
                            }
                        }
                        &:last-of-type{
                            background-image: url('../images/patients.jpeg');
                            &::after{
                                content: "Patients";
                            }
                        }
                        
                        

                        
                    }
                }
            }

            &:last-of-type{
                .content{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    justify-items: center;

                    .cover{
                        max-height: 150px;
                        max-width: 100px;
                        position: relative;
                        .info{
                            position: absolute;
                            background: rgba(0, 176, 176, 0.73);
                            bottom: 0px;
                            width: 100%;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            color: $color-white;
                            text-align: center;
                            height: 50px;
                            font-family: $proxima-nova;
                            font-size: 14px;
                            transition: all 0.3s ease;
                            padding-top: 8px;
                            p{
                                &:last-of-type
                                {
                                    font-size: 12px;
                                }
                            }
                        }
                        &:hover{
                            .info{
                                height: 70px;
                                background: rgba(33, 123, 123, 0.73);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1400px){
    .sub-coat{
        header{
            align-items: center;
            justify-content: center;
            // gap: 3rem;
            button{
                background: none;
                border: none;
            }
            .mobile-btn{
                display: block;
                justify-self: flex-start;
            }
            .main-text{
                text-align: center;
            }            
        }
    }
}


@media screen and (max-width:1000px){
    .sub-coat{
        section{
            .t-content{
                    display: flex;
                    justify-content: center;
                    img{
                    // grid-column: 2 / span 1;
                    width:270px;
                }
                .image{
                    display: none;
                }
            }
        }
        .bottom{
            grid-template-columns: unset;        
            section{
                &:first-of-type{
                    .b-content{
                        display: flex;
                        justify-content: space-around;
                    }
                }

                &:last-of-type{
                    .content{
                        .cover{
                            max-height: 200px;
                            max-width: 150px;
                        }
                    }
                }
            }        
        }
    }
}


@media screen and (max-width:800px){
    .sub-coat{
        .bottom{
            section{
                &:last-of-type{
                    .content{
                        grid-template-columns: repeat(2, 1fr);
                        row-gap: 1.5rem;
                        .cover{
                            max-height: 200px;
                            max-width: 150px;
                        }
                    }
                }

            }
        }
    }
}