@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$accent-color:#40BFC0;
$btn-color:#2EBBBC;
$color-white:#FFF;
$color-black: #00000038;
$btn-radius:10px;
$box-shadow:2px 7px 14px rgba(47, 108, 136, 0.14);
$background-gradient:linear-gradient(179.99deg, #E5F2F1 30.09%, #F0F2F6 56.82%);

$green-gradient: linear-gradient(180deg, #00B0B1 30.05%, #23DADB 100%);


$proxima-nova: 'Proxima Nova', sans-serif;
$Roboto-font: 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    height: 100%;
    width: 100%;
}

